fastapi
uvicorn[standard]
aiohttp
httpx
sqlalchemy
alembic
pydantic
python-dotenv
transformers
sentence-transformers
scikit-learn
groq
faker
tqdm
pytest
pytest-asyncio
pytest-cov
black
mypy
isort
nest_asyncio
python-jose
passlib[bcrypt]
pydantic-settings
